.card {
  background: rgb(155, 236, 241);
  border: 1px solid rgb(89, 89, 89);
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin: auto;
  text-align: center;
  width: 100px;

}

.gridContainer {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto auto auto;
  max-width: 600px;
}


.smallerImage {
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.button {
  border: 2px solid;
  height: 50px;
  width: 150px;
  font-size: 20px;
  margin-left: 50px;
  background-color: rgb(131, 241, 127)
}